<nav class="navbar navbar-expand-lg navbar-dark">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <div class="w3-top" style="padding-left: 10%; padding-right: 10%; height: 15%">
        <br />
        <div class="w3-bar w3-white w5-padding w3-card" style="letter-spacing: 3%; height: 50%">
            <br />
            <a class="w3-bar-item w3-button" style="font-size: 30px; font-family: Forte" routerLink="/home">My Healthy Routine</a
      >

      <div class="w3-right w2-hide-small" style="height: 50%">
        <a href="#about" class="w3-bar-item w3-button" style="font-size: 20px"
          >About</a
        >
        <a href="#menu" class="w3-bar-item w3-button" style="font-size: 20px"
          >Menu</a
        >
        <a
          href="#contact"
          class="w3-bar-item w3-button"
          routerLink="/cart"
          style="font-size: 20px"
          >Contact</a
        >
        <a
          href="#"
          class="w3-bar-item w3-button"
          routerLink="/Cart"
          style="font-size: 20px"
          ><span
            class="glyphicon glyphicon-shopping-cart"
            routerLink="/cart"
          ></span>
          Cart</a
        >
        <a
          href="#"
          class="w3-bar-item w3-button"
          routerLink="/userInfo"
          style="font-size: 20px"
          ><span class="glyphicon glyphicon-user"></span> Your Account</a
        >
        <a
          href="#"
          class="w3-bar-item w3-button"
          routerLink="/login"
          style="font-size: 20px"
          ><img
            src="https://img.icons8.com/external-filled-line-kendis-lasman/24/000000/external-logout-user-interface-filled-line-filled-line-kendis-lasman.png"
          /><span>logout</span></a
        >
      </div>
    </div>
  </div>
</nav>