<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="w3-top">
    <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
        <a class="w3-bar-item w3-button" routerLink="/home">My Healthy Routine</a>
        <!-- Right-sided navbar links. Hide them on small screens -->
        <div class="w3-right w3-hide-small">
            <a href="#about" class="w3-bar-item w3-button">About</a>
            <a href="#menu" class="w3-bar-item w3-button">Menu</a>
            <a href="#contact" class="w3-bar-item w3-button" routerLink="/cart">Contact</a>
            <a href="#" class="w3-bar-item w3-button" routerLink="/Cart"><span class="glyphicon glyphicon-shopping-cart" routerLink="/cart"></span> Cart</a>
            <a href="#" class="w3-bar-item w3-button" routerLink="/user-info"><span class="glyphicon glyphicon-user"></span> Your Account</a>
            <a href="#" class="w3-bar-item w3-button" routerLink="/login"><img src="https://img.icons8.com/external-filled-line-kendis-lasman/24/000000/external-logout-user-interface-filled-line-filled-line-kendis-lasman.png"><span>logout</span></a>

        </div>
    </div>
</div>