<app-navbar></app-navbar>

<div class="container-fluid" id="grad1" *ngIf="access == 1">
    <div class="row justify-content-center mt-0">
        <div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mt-3 mb-2">
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                <h2 style="margin-top: 5%"><strong>My Orders</strong></h2>
                <div class="row">
                    <div class="col-md-12 mx-0">
                        <form id="msform">
                            <fieldset style="width: 50%">
                                <div class="" style="width: 290%; margin-left: -35%">
                                    <div class="row">
                                        <div style="width: 66%">
                                            <div class="product-details mr-2" style="margin-left: 5%; width: 90%; height: 25%">
                                                <hr />

                                                <br />
                                                <div class="d-flex justify-content-between align-items-center mt-5 p-2 items rounded box" *ngFor="let cartIndex of ordersUser">
                                                    <div class="d-flex flex-row">
                                                        <img class="rounded" src="{{ cartIndex.image }}" width="250" />
                                                        <div class="ml-2">
                                                            <span class="font-weight-bold d-block">{{
                                cartIndex.name
                              }}</span
                              ><span class="spec"
                                >{{ cartIndex.category }}
                              </span>
                                                        </div>
                                                    </div>

                                                    <div class="d-flex flex-row align-items-center">
                                                        <span class="d-block ml-5 font-weight-bold">
                              &#8362;{{ cartIndex.price }}</span
                            >
                          </div>
                        </div>
                        <hr
                          style="border: solid lightblue; border-width: 2px"
                        />
                      </div>
                    </div>
                    <hr />
                  </div>
                </div>
                <!-- <input type="button" name="next" class="next action-button" value="Next Step" id="personal" routerLink="/pyment" target="_blank" /> -->
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- only for worker -->
<div class="container-fluid" id="grad1" *ngIf="access > 1">
  <div class="row justify-content-center mt-0">
    <div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mt-3 mb-2">
      <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
        <h2 style="margin-top: 5%"><strong>Orders</strong></h2>
        <div class="row">
          <div class="col-md-12 mx-0">
            <form id="msform">
              <fieldset style="width: 50%">
                <div class="" style="width: 290%; margin-left: -35%">
                  <div class="row">
                    <div style="width: 66%">
                      <div
                        class="product-details mr-2"
                        style="margin-left: 5%; width: 90%; height: 25%"
                      >
                        <hr />

                        <br />
                        <div
                          class="d-flex justify-content-between align-items-center mt-5 p-2 items rounded box"
                          *ngFor="let cartIndex of Allorders"
                        >
                          <ng-container>
                            <div class="d-flex flex-row">
                              <img
                                class="rounded"
                                src="{{ cartIndex.image }}"
                                width="250"
                              />
                              <div class="ml-2">
                                <span class="font-weight-bold d-block">{{
                                  cartIndex.name
                                }}</span
                                ><span class="spec"
                                  >{{ cartIndex.category }}
                                </span>
                                                    </div>
                                                </div>

                                                <div class="d-flex flex-row align-items-center">
                                                    <span class="d-block ml-5 font-weight-bold">
                                &#8362;{{ cartIndex.price }}</span
                              >
                            </div>
                            <button
                              class="btn btn-lg btn-primary"
                              (click)="delivered(cartIndex)"
                            >
                              delivered
                            </button>
                          </ng-container>
                        </div>
                        <hr
                          style="border: solid lightblue; border-width: 2px"
                        />
                      </div>
                    </div>
                    <hr />
                  </div>
                </div>
                <!-- <input type="button" name="next" class="next action-button" value="Next Step" id="personal" routerLink="/pyment" target="_blank" /> -->
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <ng-container *ngIf="access > 1">
  <input
    type="button"
    value="Download PDF"
    class="btn btn-success"
    (click)="makePDF()"
  />
  <div id="content" #content *ngIf="access > 1">
    <h1>your order</h1>
    <table class="table">
      <thead style="width: 20%">
        <tr>
          <th scope="col">#</th>
          <th scope="col">name</th>
          <th scope="col">category</th>
          <th scope="col">Quantity</th>
        </tr>
      </thead>
      <tbody style="width: 20%" *ngFor="let cartIndex of Allorders">
        <tr>
          <td><img src="{{ cartIndex.image }}" width="50" /></td>
          <td>{{ cartIndex.name }}</td>
          <td>{{ cartIndex.category }}</td>
          <td>{{ cartIndex.Quantity }}</td>
        </tr>
      </tbody>
      <tr style="width: 20%">
        <td></td>
        <td></td>
        <td>quantity {{ Allorders.length }}</td>
      </tr>
      <tr style="width: 20%">
        <td></td>
        <td></td>
        <td>total {{ totalSum }}</td>
      </tr>
    </table>
  </div>
</ng-container> -->