<!-- <body style="
    background-image: url(https://previews.123rf.com/images/saenal78/saenal781501/saenal78150100004/35268645-health-design-elements-medical-background-vector-illustration.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position-y: 100% 100%;
  ">
    <br /><br /><br />
    <div class="main">
        <p class="sign" align="center">Sign in</p>
        <form class="form1" #login="ngForm" (ngSubmit)="onSubmit(login)">
            <fieldset>
                <input class="un" type="text" align="center" placeholder="Email" ngModel name="Email1" />
                <input class="pass" type="password" align="center" placeholder="password" minlength="8" ngModel required name="Password1" #passw="ngModel" />

               
      </fieldset>
      <br />

      <button type="submit" class="submit">Submit</button>&nbsp;&nbsp;&nbsp;
      <button type="button" class="submit" routerLink="/register">
        Registration
      </button>
    </form>
  </div>
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</body> -->
<!DOCTYPE html>
<html>

<head>
    <title>Responsive Loginform</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
    <!-- LOGIN MODULE -->
    <div class="login">
        <div class="wrap" style="margin-left: 38%">
            <!-- TOGGLE -->
            <div id="toggle-wrap">
                <div id="toggle-terms">
                    <div id="cross">
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
            <!-- TERMS -->
            <div class="terms">
                <h2>dp Terms of Service</h2>
            </div>

            <!-- RECOVERY -->
            <div class="recovery">
                <h2>Password Recovery</h2>
                <p>
                    Enter either the <strong>email address</strong> or
                    <strong>username</strong> on the account and
                    <strong>click Submit</strong>
                </p>
                <p>We'll email instructions on how to reset your password.</p>
                <form class="recovery-form" action="" method="post">
                    <input type="text" class="input" id="user_recover" placeholder="Enter Email or Username Here" />
                    <input type="submit" class="button" value="Submit" />
                </form>
                <p class="mssg">
                    An email has been sent to you with further instructions.
                </p>
            </div>

            <!-- LOGIN FORM -->
            <div class="user">
                <div class="form-wrap">
                    <!-- TABS -->
                    <div class="tabs">
                        <h3 class="login-tab">
                            <a class="log-in active"><span>Login</span></a>
                        </h3>
                        <h3 class="signup-tab">
                            <a class="sign-up" routerLink="/register"><span>Sign Up</span></a
                >
              </h3>
            </div>
            <!-- TABS CONTENT -->
            <div class="tabs-content">
              <!-- TABS CONTENT LOGIN -->
              <div id="login-tab-content" class="active">
                <form
                  class="login-form"
                  #login="ngForm"
                  (ngSubmit)="onSubmit(login)"
                >
                  <input
                    type="text"
                    class="input"
                    id="user_login"
                    ngModel
                    name="email"
                    autocomplete="off"
                    placeholder="UserEmail"
                    required
                  />
                  <input
                    type="password"
                    class="input"
                    id="user_pass"
                    autocomplete="off"
                    placeholder="Password"
                    name="password"
                    ngModel
                    required
                  />
                  <input
                    type="checkbox"
                    class="checkbox"
                    checked
                    id="remember_me"
                  />
                  <label for="remember_me">Remember me</label>
                  <input type="submit" class="button" value="Login" />
                </form>
                <div class="help-action">
                  <p>
                    <i class="fa fa-arrow-left" aria-hidden="true"></i
                    ><a class="forgot" href="#">Forgot your password?</a>
                            </p>
                    </div>
                </div>
                <!-- TABS CONTENT SIGNUP -->
            </div>
        </div>
        .
    </div>
    </div>
    </div>
</body>

</html>

<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page in HTML with CSS Code Example</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
</head>

<body>
    <div class="box-form">
        <div class="left">
            <div class="overlay">
                <h1>My Health Routine</h1>
                <p>
                    App that help you to follow after your regular medicines or permanent,Improves your quality of life!
                </p>
            </div>
        </div>

        <div class="right" style="width: 45%">
            <br /><br /><br /><br /><br /><br /><br />
            <h5>Login</h5>
            <br /><br /><br /><br /><br />

            <p>
                Don't have an account? <a href="#">Creat Your Account</a> it takes less than a minute
            </p>
            <div class="inputs">
                <input type="text" placeholder="Email" ngModel name="Email1" />
                <input type="password" placeholder="password" minlength="8" ngModel required name="Password1" #passw="ngModel" />
                <small class="pass" *ngIf="!passw?.valid && (passw?.dirty || passw?.touched)" style="color: brown; margin-left: 30%">Invalid password</small
          >
        </div>

        <br /><br />

        <div class="remember-me--forget-password">

          <a href="#menu">forget password?</a>
        </div>

        <br />
        <div style="margin-left: 14%">
          <button>Login</button>
          <button style="margin-left: 20%" routerLink="/register">
            Sign up
          </button>
        </div>
      </div>
    </div>
  </body>
</html> -->