<br /><br /><br /><br />

<div class="row">
    <div class="col mb-3 col-sm-4">
        <div class="product-grid">
            <div class="product-image">
                <a href="# " class="image">
                    <img src="https://www.hanegev.co.il/images/thumbs/0001936_360.jpg " />
                </a>

                <a type="button " class="add-to-cart">Add to Cart</a>
            </div>
            <div class="product-content">
                <h3 class="title">Name:Acamol 21 Caplets</h3>
                <div class="price">Customer price:15.39₪</div>
                <div class="price">total price:18.01₪</div>
                <span style="font-weight: bolder"> SerialNumber: 3369</span
        ><br /><br /><br />
        <a
          type="button "
          class="Description"
          value="Description "
          [routerLink]="['/product', 3369]"
          >More Info</a
        >
      </div>
    </div>
  </div>
  <div class="col mb-3 col-sm-4">
    <div class="product-grid">
      <div class="product-image">
        <a href="# " class="image">
          <img src="https://www.hanegev.co.il/images/thumbs/0001936_360.jpg " />
        </a>

        <a type="button " class="add-to-cart">Add to Cart</a>
      </div>
      <div class="product-content">
        <h3 class="title">Book Name:</h3>
        <div class="price">₪</div>
        <span style="font-weight: bolder"> SerialNumber: </span
        ><br /><br /><br />
        <a type="button " class="Description" value="Description ">More Info</a>
      </div>
    </div>
  </div>
  <div class="col mb-3 col-sm-4">
    <div class="product-grid">
      <div class="product-image">
        <a href="# " class="image">
          <img src="https://www.hanegev.co.il/images/thumbs/0001936_360.jpg " />
        </a>

        <a type="button " class="add-to-cart">Add to Cart</a>
      </div>
      <div class="product-content">
        <h3 class="title">Book Name:</h3>
        <div class="price">₪</div>
        <span style="font-weight: bolder"> SerialNumber: </span
        ><br /><br /><br />
        <a type="button " class="Description" value="Description ">More Info</a>
      </div>
    </div>
  </div>
</div>
<!-- <html>

<head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <style></style>
</head>

<body class="w3-content" style="max-width: 1200px">
    <div class="w3-main" style="height: 250%">
        <div class="w3-row w3-grayscale">
            <div class="w3-col l3" style="margin-left: 90%" style="border: solid">
                <div class="w3-container" style="margin-right: 40%">
                    <div class="w3-display-container">
                        <img src="https://www.hanegev.co.il/images/thumbs/0001936_360.jpg " style="width: 100%" />
                        <span class="w3-tag w3-display-topleft">New</span>
                <div class="w3-display-middle w3-display-hover">
                    <button class="w3-button w3-black">
                  Buy now <i class="fa fa-shopping-cart"></i>
                </button>
                </div>
            </div>
            <p>Mega Ripped Jeans<br /><b>$19.99</b></p>
        </div>
        <div class="w3-container">
            <img src="/w3images/jeans3.jpg " style="width: 100%" />
            <p>Washed Skinny Jeans<br /><b>$20.50</b></p>
        </div>
    </div>
    <div class="w3-col l3 s6" style="margin-right: 60%" style="border: solid">
        <div class="w3-container" style="margin-right: 40%">
            <div class="w3-display-container">
                <img src="https://www.hanegev.co.il/images/thumbs/0001936_360.jpg " style="width: 100%" />
                <span class="w3-tag w3-display-topleft">New</span>
                <div class="w3-display-middle w3-display-hover">
                    <button class="w3-button w3-black">
                  Buy now <i class="fa fa-shopping-cart"></i>
                </button>
                </div>
            </div>
            <p>Mega Ripped Jeans<br /><b>$19.99</b></p>
        </div>
        <div class="w3-container">
            <img src="/w3images/jeans3.jpg " style="width: 100%" />
            <p>Washed Skinny Jeans<br /><b>$20.50</b></p>
        </div>
    </div>
    <div class="w3-col l3 s6" style="margin-right: 60%" style="border: solid">
        <div class="w3-container" style="margin-right: 40%">
            <div class="w3-display-container">
                <img src="https://www.hanegev.co.il/images/thumbs/0001936_360.jpg " style="width: 100%" />
                <span class="w3-tag w3-display-topleft">New</span>
                <div class="w3-display-middle w3-display-hover">
                    <button class="w3-button w3-black">
                  Buy now <i class="fa fa-shopping-cart"></i>
                </button>
                </div>
            </div>
            <p>Mega Ripped Jeans<br /><b>$19.99</b></p>
        </div>
        <div class="w3-container">
            <img src="/w3images/jeans3.jpg " style="width: 100%" />
            <p>Washed Skinny Jeans<br /><b>$20.50</b></p>
        </div>
    </div>
</div>

Footer
</div>
</body>


</html> -->