<html lang="en">
<app-navbar></app-navbar>

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
</head>

<body>
    <div class="jumbotron">
        <div class="container text-center" style="margin-bottom: 10%">
            <br /><br /><br /><br /><br /><br />
            <h1>My Health Routine</h1>
            <p>Take Care yourself</p>
        </div>
    </div>

    <br /><br /><br />
    <div class="container" style="margin-left: 37.5%">
        <div class="row">
            <button type="button" class="btn btn-info" routerLink="/Calendear">
          <img
            src="https://img.icons8.com/external-bearicons-flat-bearicons/150/000000/external-Calendar-christmas-and-new-year-bearicons-flat-bearicons-4.png"
          />
          <br />
          <span>Calender</span></button
        >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-info" routerLink="/Enter-Med">
          <img
            src="https://img.icons8.com/external-outline-satawat-anukul/150/000000/external-medical-madical-outline-outline-satawat-anukul-9.png "
          />
          <br />
          <span>Enter Med</span>
        </button>
        </div>
    </div>
    <br /><br /><br />
    <div class="container" style="margin-left: 37.5%">
        <div class="row">
            <button type="button " class="btn btn-info" routerLink="/Natural-products">
          <img
            src="https://img.icons8.com/external-dreamstale-green-shadow-dreamstale/150/000000/external-shop-buildings-landmarks-dreamstale-green-shadow-dreamstale.png"
          />
          <br />
          <span>Natural Shop</span>
        </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button " class="btn btn-info" routerLink="/Search-For-A-Pharmacy">
          <img
            src="https://img.icons8.com/external-wanicon-two-tone-wanicon/150/000000/external-search-shopping-and-store-wanicon-two-tone-wanicon.png"
          />
          <br />
          <span>Search for Pharmacy</span>
        </button>
        </div>
    </div>

    <app-footer></app-footer>
</body>

</html>